* {
    border: 2px solid red;
}

.navList {
    display: flex;
    list-style-type: none;
    align-items: baseline;
    padding: 10px;
    gap: 10px;
    color: #F9FAF8;
    
}

li{
    font-size: 18px;
}

.logo {
    margin-right: auto;
    font-size: 24px;
    font-weight: 900;
}

.topSection {
    text-align:left;
    padding: 10px;
    color: #F9FAF8;
}

.sectionOne h1{
    font-size: 48px;
    
}

img{
    height: auto;
    width: 100%;
    min-width: 0;
}

.sectionTwo .informationPic {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 0%;
}

h2 {
    text-align: center;
}

.topSection {
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content:baseline;
}

.topSection div {
    min-width: 0;
    flex: 1 1 0%;
}
header {
    background-color: #1f2937;
}